.dropdown-content.close {
  border: none;
  margin: 0;
  transition: height 0.3s ease-out;
}

.dropdown-content {
  padding: 0 10px;
  overflow: hidden;
  height: 0;
}

.dropdown-content.open {
  /* border: 1px solid #ccc; */
  margin-top: 5px;
  background: #fafafa;
  transition: height 0.3s ease-out;
}

.dropdown-inner-content {
  padding: 10px;
}
